*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .wrapper {
        display: none;
    }
}

@media screen and (max-width: 768px) and (min-width: 360px) {
    .color_grey {
        color: #7A7777;
        transition: all 0.2s ease;
    }
    .wrapper {
        width: 100vw;
        height: 100vh;
        .container {
            height: 100%;
            width: 100%;
            .todo {
                height: 100%;
                width: 100%;
            }
        }
    }

    .container {
        position: relative;
    }

    .todo {
        z-index: 0;
        transition: 3s showAddModal linear;
    }

    .todo_header {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 14.05%;

        background: #0AB6AB;

        .todo_name {
            font-size: 1.25em;
            font-weight: 600;
        }
    }

    .todo_tasks {
        display: flex;
        flex-direction: column;

        background: #151515;
        color: #fff;

        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.40);

        height: 86%;

        padding: 50px 24px 53px;

        .todo_data {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            .todo_today {
                font-size: 1.25em;
                font-weight: 600;
            }
            .todo_date {
                font-size: 0.875em;
                color: #7D7878;
            }
        }

        .todo_list {
            height: 58.4%;
            padding: 27px 0 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            .todo_item {
                width: 100%;
                height: 14.71%;
                list-style-position: inside;
                list-style: none;
                display: flex;
                align-items: center;
                padding: 2.782% 1.947%;
                border-radius: 8px;
                background: #201F1F;
                .todo_labels {
                    display: flex;
                    align-items: center;
                    .todo_checkboxes {
                        display: none;
                    }
                    
                    .todo_checkboxes:checked + .todo_fakebox::before {
                        opacity: 1;
                    }
                    .todo_fakebox::before {
                        content: "";
                        position: absolute;
                        background-image: url("../icons/done.svg");
                        background-repeat:no-repeat;
                        background-position: center;
                        background-size: 70%;
                        max-height: 20px;
                        max-width: 20px;
                        min-height: 15px;
                        min-width: 15px;
                        border: 1px solid #7a7777;
                        border-radius: 50%;
                        opacity: 0%;
                        transition: 0.1s ease;
                    }
                    .todo_opacity::before {
                        opacity: 100%;
                    }
                    .todo_fakebox {
                        position: relative;
                        margin-right: 8px;
                        display: inline-block;
                        max-height: 20px;
                        max-width: 20px;
                        min-height: 15px;
                        min-width: 15px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        transition: 0.1s ease;
                    }
                
                    .todo_line_through {
                        text-decoration: line-through;
                        transition: all 0.2s ease;
                    }
                    .todo_border {
                        border: 0;
                        transition: 0.1s ease;
                    }
                }
                .todo_time {
                    font-size: 0.75em;
                    margin-left: auto;
                }
            }
        }
        .todo_add_button {
            border-radius: 50%;
            margin-top: auto;
            align-self: flex-end;
            justify-self: flex-end;
            display: flex;
            justify-content: end;
            width: 80px;
            height: 80px;
            .todo_button {
                content: "";
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: #0AB6AB;
                border-radius: 50%;
                text-decoration: none;
                opacity: 0.8;
                filter: drop-shadow(0px 0px 6px rgba(10, 182, 171, 0.50));
                -webkit-tap-highlight-color: transparent;
                .todo_plus::before {
                    display: block;
                    content: "";
                    width: 24px;
                    height: 3px;
                    background-color: #000;
                    border-radius: 5px;
                }
                .todo_plus::after {
                    display: block;
                    content: "";
                    width: 24px;
                    height: 3px;
                    background-color: #000;
                    border-radius: 5px;
                    transform: rotate(90deg) translateX(-3px);
                }
            }
        }
    }

    .todo_add_modal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: #1a1a1d;
        padding: 50px 24px 53px;

        .todo_add_name {
            text-align: center;
            color: #950740;
            font-size: 2em;
        }

        .todo_add_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 60%;
            width: 100%;
            .todo_add_text {
                min-width: 70%;
                min-height: 90%;

                outline: 0;

                resize: none;

                padding: 10px;
                
                text-align: center;
                font-size: 1.2em;

                border-radius: 8px;

                border: 2px solid #4e4e50;
            }

            .todo_add_text::first-letter {
                text-transform: uppercase;
            }

            .todo_add_button {
                margin-top: 10px;
                padding: 20px 5px; 
                max-width: 35%;
                min-width: 25%;
                height: 7%;

                outline: 0;
                border: 0;
                background-color: #C3073F;

                color: #fff;
                font-weight: bold;
                font-size: 1.2em;

                border-radius: 8px;
                box-shadow: -31px 25px 33px -10px rgba(165, 38, 76, 0.2);
                
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    display: inline-block;
                }
            }

            animation: 2s showAddModal linear;
        }


        .todo_add_back {
            text-align: center;

            span {
                display: inline-block;
                margin-top: 20px;
                padding: 10px;
                background-color: #4E4E50;
                color: #fff;
            }
        }
    }
    .todo_add_turn {
        display: block;
    }
}

@keyframes showAddModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
